{% extends 'boilerplate/base_template.html' %}

{% block content %}
    {% if reset_passed %}
        <h3>Password reset was successfull, please login</h3>

    {% else %}
        {% if not valid_reset_request %}
            <h3>Password reset request is not valid.</h3>
        {% else %}
            <h3>Password reset form:</h3>
                <form action="{% url 'password_reset' %}" method="post"> {% csrf_token %}
                    <div class="col-sm-6 r-align-large"><label>Email:</label></div><div class="col-sm-6"> {{ email }} </div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-6 r-align-large"><label>Choose New Password:</label></div><div class="col-sm-6"><input type="password" name="password1" value="" /></div>
                    <div class="col-sm-6 r-align-large"><label>Confirm Password:</label></div><div class="col-sm-6"><input type="password" name="password2" value="" /></div>
                    <div class="col-sm-6 r-align-large"></div><div class="col-sm-6"><input type="submit" value="Change Password" /></div>
                    <input type="hidden" name="key" value="{{ key }}" />
                    <input type="hidden" name="email" value="{{ email }}" />
                    <div class="col-sm-12">
                        PASSWORD POLICY:
                        <ul>
                        <li>At least MIN_LENGTH of 8, set in RegistrationView class
                        <li>At least on one letter and one non-letter
                        </ul>
                    </div>
                </form>
        {% endif %}
    {% endif %}
{% endblock %}