{% extends 'boilerplate/base_template.html' %}

{% block content %}
    {% if password_reset_passed %}
        <h3>You have submitted you registration. To activate you account,
            follow a link in the activation email we sent to your email inbox. </h3>
    {% else %}
        <h3>Registration form:</h3>
            <form action="{% url 'registration' %}" method="post"> {% csrf_token %}
                <div class="col-sm-6 r-align-large"><label>Email:</label></div><div class="col-sm-6"> {{ reset_for_user }} </div>
                <div class="col-sm-6 r-align-large"><label>Choose New Password:</label></div><div class="col-sm-6"><input type="password" name="password1" value="" /></div>
                <div class="col-sm-6 r-align-large"><label>Confirm Password:</label></div><div class="col-sm-6"><input type="password" name="password2" value="" /></div>
                <div class="col-sm-6 r-align-large"></div><div class="col-sm-6"><input type="submit" value="Register" /></div>
                <input type="hidden" value="{{ key }}" />
                <div class="col-sm-12">
                    PASSWORD POLICY:
                    <ul>
                    <li>At least MIN_LENGTH of 8, set in RegistrationView class
                    <li>At least on one letter and one non-letter
                    </ul>
                </div>
            </form>
    {% endif %}
{% endblock %}