{% extends 'boilerplate/base_template.html' %}

{% block content %}
    {% if reset_email_sent %}
        <h3>You have submitted your password reset request.
            We have sent you an email with password
            reset instructions and reset link to follow. </h3>
    {% else %}
        <h3>Password reset request form:</h3>
            <form action="{% url 'password_reset_request' %}" method="post"> {% csrf_token %}
                <div class="col-sm-6 r-align-large"><label>Email:</label></div><div class="col-sm-6"> <input type="text" name="email" value="{{ email }}" /></div>
                <div class="col-sm-6 r-align-large"></div><div class="col-sm-6"><input type="submit" value="Submit" /></div>
            </form>
    {% endif %}
{% endblock %}