{% load staticfiles %}
<html>
    <head>
        <title>Boilerplate</title>
    </head>
    <body>
        <h1>Base template:</h1>
        
        
        <!-- 
        ERROR DISPLAY BETWEEN HEADER AND MENU 
        -->
        {% if error_message %}<p><font color="red">ERROR: {{ error_message }}</font></p>{% endif %} 
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}  
                <font color="red">ERROR:</font>
                {% else %}
                <font color="blue">INFO:</font>
                {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}  
        
        <!-- 
        CONTENT 
        -->              
        {% block content %}
        {% endblock %}  
    </body>
</html>